/*bismillah*/

/*background color*/
.ghost-white
{
    background-color: #fdfdfe;
}
.malibu
{
    background-color: #5AC7E7;
}
.turqoise-blue
{
    background-color: #65CAEA;
}
.snow
{
    background-color: #fbfbfb;
}
.wan-white
{
    background-color: #e4e3df;
}
.rhino
{
    background-color: #38424E;
}
.light-grey
{
    background-color: #D1D0D0;
}


/*end background color*/

/*text color*/

.rhino-text
{
    color: #38424E !important;
}
/*end text colo*/
.btn-floating:hover
{
    background-color: #D1D0D0 !important;
}
.login-card
{
    margin-top: 10%;
}
.calm-white
{
    background-color: #fafafa;
}
.login-card
{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    margin-top: 10%;
}
.left-card
{
    width: 50% !important;
    height: auto;
    float: left;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.right-card
{
    width: 50% !important;
    height: auto;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-card-title
{
    font-size: 33px;
    font-weight: bold;
}
.left-card-subtitle
{
    font-size: 20px !important;
    font-weight: 500;
    margin-top: -3%;
    padding-bottom: 50px;
}
.input
{
    padding-bottom: 25px !important;
}
.btn-login
{
    width: 100% !important;
    font-size: 25px !important;
    font-weight: bold;
    text-transform: none !important;
}
.btn-login:hover
{
    background-color: #5AC7E7 !important; ;
}
.signup-text
{
    font-size: 20px !important;
    font-weight: normal !important;
    padding-top: 50px;
}
.bold
{
    font-weight: bold !important;
}
/* label color */
.input-field label {
    color: #757575 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #5AC7E7 !important;
    box-shadow: 0 1px 0 0 #5AC7E7 !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #5AC7E7 !important;
    box-shadow: 0 1px 0 0 #5AC7E7 !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #5AC7E7 !important;
    box-shadow: 0 1px 0 0 #5AC7E7 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #757575;
}
.shadow-effect
{
    width: 100% !important;
    /*margin-top: 20px;*/
    background: transparent;
    /*padding: 50px;*/
    border-radius: 4px;
    text-align: center;
    height: auto;
    cursor: move;
}
.shadow-effect .img
{
    width: 100% !important;
    height: 750px !important;

    background-size: cover;
    background: linear-gradient(rgba(179, 255, 171, .5), rgba(18, 255, 247, .5)), url('../images/1.jpg') ;
}
.shadow-effect .img2
{
    width: 100% !important;
    height: 750px !important;
    background-size: cover;
    background: linear-gradient(to right, rgba(168, 192, 255,.5), rgba(63, 43, 200,.5)), url('../images/2.jpg') center 20%;
}
.shadow-effect .img3
{
    width: 100% !important;
    height: 750px !important;
    background-size: cover;
    background: linear-gradient(to right, rgba(218, 68, 53, .5), rgba(137, 33, 190, .5)), url('../images/1.jpg') left 260%;
}
.owl-nav button
{
    background-color: #ffffff !important;
    padding: 3px;
    border: 0;
    margin: 5px;
}
.owl-nav button.owl-prev
{
    box-shadow: 0 10px 15px rgba(0,0,0,0.10), 0 10px 8px rgba(0,0,0,0.02);
}
.owl-nav button.owl-next
{
    box-shadow: 0 10px 15px rgba(0,0,0,0.10), 0 10px 8px rgba(0,0,0,0.02);
}

.owl-nav{
    text-align: center;
}
.owl-carousel
{
    width: 103.6% !important;
}

#map
{
    width: 100%;
    height: 600px;
}
/*main page*/
#header
{
    position: fixed !important;
    z-index: 9999;
    background-color: transparent !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#header.active
{
    background: #fff !important;
    color: #757575 !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) !important;

}
.banner
{
    width: 100% !important;
    height: 700px !important;
    background: linear-gradient(rgba(56 ,50, 78, .8), rgba(56 ,66, 78, .9)), url("../images/banner.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.we-do
{
    width: 100% !important;
    height: auto ;
    background: linear-gradient(rgba(255 ,255, 255, .6), rgba(255 ,255, 255, .9)), url("../images/2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}
.work-together
{
    width: 100% !important;
    height: auto !important;
    background: linear-gradient(rgba(56 ,50, 78, .8), rgba(56 ,66, 78, .9)), url("../images/want.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px !important;
}
.team
{
    width: 100% !important;
    height: auto;
    padding-bottom: 50px;
}
.banner-text
{
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 10%;
}
.banner-text h1
{
    font-weight: 300;
}
.my-card
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.card .owl-img
{
    width: 200px !important;
    height: 200px !important;
    text-align: center !important;
    background-position: center !important;
}

.owl-card:hover
{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0);
}
.thin
{
    font-weight: 300;
}
.btn-raounded
{
    border-radius: 20px !important;
}
/*media screen*/
@media screen and(max-width: 1820px){
    .shadow-effect
    {
        margin: 5%;
    }
    .owl-carousel
    {
        width: 103.7% !important;
    }
}
@media screen and(max-width: 360px){
    .shadow-effect .img
    {
        margin-top: 30px !important;
    }
}
